@import "../libs/bootstrap/css/bootstrap-grid.css";
@import "../libs/font/stylesheet.css";
.work {
  height: 490px;
  background-image: url("../images/work/Rectangle.png");
  margin-bottom: 482px;
}
.work__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  padding-top: 100px;
  text-align: start;
  margin-bottom: 0;
}
.work__btn {
  outline: none;
  width: 200px;
  height: 45px;
  background: #4985FF;
  border-radius: 30px;
  border: none;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 120px;
  margin-right: 0;
}
.work__col {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.work__img {
  width: 336px;
  height: 290px;
}
.work__col-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: start;
  margin-top: 30px;
}
.work__col-color {
  color: #4985FF;
}
.work__col-sub {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #999999;
  text-align: start;
  margin: 30px 0 30px;
  width: 350px;
  height: 117px;
}
.work__col-link {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4985FF;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  position: relative;
}
.work__border {
  width: 1059px;
  height: 1px;
  background: #E0E0E0;
  margin: 85px 0 85px;
}

.video {
  padding: 70px 0 0;
  position: relative;
}
.video:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url("../images/video/Rectangle.png") center/cover no-repeat;
  width: 100%;
  height: 570px;
  z-index: -1;
}
.video__sub {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 30px 0 60px;
}
.video__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
}
.video__box {
  width: 970px;
  height: 430px;
  background: url("../images/video/img2.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 85px;
}
.video__btn {
  width: 300px;
  height: 100px;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.video__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 21px;
}
.video__container {
  border-bottom: 1px solid #E0E0E0;
}

.projects {
  padding-bottom: 70px;
  background: #F6F6F8;
}
.projects__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  text-align: start;
  margin: 152px 0 40px;
}
.projects__sub {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  text-align: start;
  margin-bottom: 30px;
}
.projects__link {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4985FF;
}
.projects__img {
  object-fit: contain;
  width: 500px;
  height: 400px;
  margin: 100px 0 90px;
}
.projects__row {
  border-bottom: 1px solid #E0E0E0;
}
.projects__footer {
  padding-top: 70px;
}
.projects__column {
  width: 104px;
  height: 67px;
}
.projects__column-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projects__column-img {
  width: 30px;
  height: 30px;
  margin-right: 18px;
}
.projects__column-price {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: nolmal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  margin-bottom: 0;
}
.projects__column-bottom {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  text-align: start;
  padding-bottom: 70px;
}

.header {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #A1A1A150;
}
.header__nav {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__item {
  margin-right: 40px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.header__item:hover::before {
  position: absolute;
  content: " ";
  width: calc(100% + 40px);
  text-align: center;
  border: 1px solid #FFFFFF;
  top: 59px;
  transition: 0.5s;
  left: -20px;
}

.first-screen {
  padding: 319px 0 335px;
  background: url("../images/first-screen/Rectangle.png") center/cover no-repeat;
  text-align: center;
}
.first-screen__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.first-screen__sub {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.first-screen__btn {
  outline: none;
  width: 200px;
  height: 45px;
  background: #4985FF;
  border-radius: 30px;
  border: none;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.services {
  padding: 110px 0 105px;
}
.services__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin: 0 auto;
}
.services__sub {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin: 50px 0 105px;
}
.services__icons {
  position: relative;
  width: 40px;
  height: 40px;
}
.services__icons:before {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  border: 1px solid #4985FF;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__icons:after {
  position: absolute;
  content: "";
  width: 110px;
  height: 110px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__row {
  display: flex;
  justify-content: space-between;
}
.services__col {
  display: flex;
  margin-bottom: 55px;
}
.services__text {
  margin-left: 52px;
}
.services__text-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 11px 0 12px;
  text-align: start;
}
.services__text-sub {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  text-align: start;
}
.services__btns {
  text-align: center;
}
.services__btn {
  outline: none;
  width: 200px;
  height: 45px;
  background: #4985FF;
  border-radius: 30px;
  border: none;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.ourProject {
  padding-top: 100px;
  background: #F6F6F8;
}
.ourProject__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  margin-bottom: 50px;
}
.ourProject__subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 70px;
}
.ourProject__btn {
  outline: none;
  width: 200px;
  height: 45px;
  background: #4985FF;
  border-radius: 30px;
  border: none;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin: 50px 0 130px;
}

.form {
  padding-top: 85px;
}
.form__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.form__sub {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin: 20px 0 30px;
}
.form__box {
  display: flex;
  width: 489px;
  margin: 0 auto 35px;
}
.form__btn {
  outline: none;
  width: 190px;
  height: 45px;
  background: #4985FF;
  border-radius: 30px;
  border: none;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 0 30px 30px 0;
}
.form__email {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  text-align: start;
  padding-left: 33px;
  outline: none;
  width: 299px;
  height: 45px;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0 0 30px;
}
.form__end {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  margin-bottom: 85px;
}

.footer {
  padding: 70px 0 30px;
  background: #F6F6F8;
}
.footer__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 35px;
  text-align: start;
}
.footer__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  margin-left: 15px;
}
.footer__info {
  margin-bottom: 30px;
}
.footer__info:last-child {
  margin-bottom: 70px;
}
.footer .social__network {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  text-decoration: none;
}
.footer .row {
  border-bottom: 1px solid #E0E0E0;
}
.footer__end {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  margin-top: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */