.footer{
  padding: 70px 0 30px;
  background: #F6F6F8;
  &__title{
    @include text(600, 18px, 22px, #000000);
    margin-bottom: 35px;
    text-align: start;
  }
  &__text {
    @include text(normal, 14px, 22px, #999999);
    margin-left: 15px;
  }
  &__info{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 70px;
    }
  }
  .social__network{
    @include text(normal, 14px, 22px, #999999);
    text-decoration: none;
  }
  .row{
    border-bottom: 1px solid #E0E0E0;
  }
  &__end{
    @include text(normal, 13px, 21px, #999999);
    margin-top: 30px;
  }
}